
 <app-employee-count [all]="totalEmpCount()"
 [male]="totalMaleCount()",
 [female]="totalFemaleCount()"></app-employee-count>
 <br><br><table>
 <thead>
  <tr>
   <th>Employee ID</th>
    <th>Employee Name</th>
    <th>Employee Title</th>
    <th>Employee Salary</th>
    <th>Employee Department</th>
    <th>Employee Address</th>
    <th>Employee DOB</th>
    <th>Employee Gender</th>
    <th>Index</th>
  </tr>
 </thead>

 <tbody>

  <tr *ngFor="let emp of employess; trackBy:trackByEmpcode; let i = index">
   <td>{{emp.empid}}</td>
   <td>{{emp.empname |uppercase | title:emp.gender}}</td>
   <td>{{emp.title | uppercase  }}</td>
   <td>{{emp.salary}}</td>
   <td>
    <div [ngSwitch]="emp.department">
     <span *ngSwitchCase="'1'">Information Technology</span>
     <span *ngSwitchCase="'2'">Human Resources</span>
     <span *ngSwitchCase="'3'">Sales Department</span>
     <span *ngSwitchDefault>Other Department</span>
    </div>
   </td>
   <td *ngIf="emp.address.length > 0">{{emp.address}}</td>
   <td>{{emp.dob }}</td>
   <td>{{emp.gender}}</td>
   <td>{{i}}</td>

 </tbody>

</table>

<button (click)="getLatestData()">Refresh Data</button>